.exceptions-list {
    background-color: #F5F5F5;
    padding-top: 5px;
    position: relative;
}

.exceptions-list .count {
    color: #afabaa;
    font-size: 12px;
    padding: 0 8px;
}

.exceptions-list .infinite-scroll {
    padding: 5px 8px;
}
